<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
        {% block head %}{% endblock %}
    </head>

    <body>
        <h1>Welcome to my first CRUD APP</h1>
        <hr>
        <span style="font-size: 20px;">This is a simple Flask application demonstrating CRUD operations with a SQLite database.</span>
        <br>
        <span>created by hage-tassang</span>
        <br>
        <span>
            @Credits to codewithjoshYT:
            <a href="https://www.youtube.com/watch?v=45P3xQPaYxc&list=PLEpRcxOmTFlN1ITmQU5P8PHXBSSIMBZaS" id='josh'>Vist his YT</a>
            <br>
            Thanks to him for this awesome tutorial..
            
        </span>
        
        {% block body %}{% endblock %}
    </body>
</html>